<div class="container">
    <h1 class="mb-5">MUSIC BLOG</h1>
    <p>
        Bienvenidos a nuestro blog de música, un espacio dedicado a explorar y disfrutar de la increíble diversidad
        musical que
        nos rodea. Aquí encontrarás un viaje apasionante a través de los géneros, artistas y momentos emblemáticos de la
        historia musical.

        Sumérgete en la magia de los ritmos y melodías mientras exploramos desde los clásicos intemporales hasta las
        últimas
        tendencias. Descubriremos la historia detrás de las canciones y los artistas más influyentes, compartiremos
        recomendaciones de nuevos talentos y te mantendremos al tanto de los eventos y lanzamientos más emocionantes.
        ¡Únete a
        nosotros y déjate llevar por la fascinante experiencia musical que tenemos preparada para ti en nuestro blog!
    </p>
    <div class="col-3 p-2">
        <select class="form-select" (change)="changeCat($event)">
            <option value="todas">Categorias</option>
            <option *ngFor="let categoria of categoria" [value]="categoria">{{categoria}}</option>

        </select>
    </div>
    <hr>
    <div class="row">
        <div class="posteos col-12 col-md-8 m-2" *ngFor="let posts of posteos; let indice = index;">
            <img [src]="posts.imagen" alt="">
            <h4>{{posts.titulo}}</h4>
            <p>{{posts.texto}}</p>
            <p>Autor:"{{posts.autor}}"</p>
            <p>Fecha:{{posts.fecha}}</p>
            <p>Categoria: {{posts.categoria}}</p>
            <button class="btn btn-secondary" (click)="onClickRemove(indice)">Remove</button>
        </div>
    </div>
</div>